# Dependencies
node_modules/
.pnpm-store/

# Expo & Metro
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Environment & Secrets
.env
.env*.local
*.pem

# Build Artifacts & Binaries
*.apk
*.aab
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Android Native Build Folders
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/**/build/
android/**/.cxx/
android/**/.externalNativeBuild/
.kotlin/

# iOS Native Build Folders
ios/Pods/
ios/build/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# OS & Editor
.DS_Store
Thumbs.db
*.tsbuildinfo
app-example/
